[submodule "external/containers"]
	path = external/containers
	url = https://github.com/akadjoker/containers.git
[submodule "external/math"]
	path = external/math
	url = https://github.com/akadjoker/math.git
[submodule "external/zen/upstream"]
	path = external/zen/upstream
	url = https://github.com/akadjoker/zenpy.git
